{
    "presets": [
        "@babel/env"
    ],
    "env": {
        "production": {
            "plugins": ["transform-react-remove-prop-types"]
        }
    },
    "plugins": [
        "@babel/plugin-transform-react-jsx",
        "@babel/plugin-proposal-class-properties"
    ]
}
